@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background: #F3F5FC;
    padding: 0;
    margin:0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding: 1em;
    width: 12%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{ color: #0A3871}
    .text-area:focus{
        outline: none;
    }

.mensaje{
    background: white;
    background-image: url("assets/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus{
    outline:none
}

.botones{
    display: flex;
    gap: 1.2rem;
}

.desencriptar{
    background: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: azure;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.informacion-alerta{
    color: #495057;
    font-size: 18px;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    position:absolute;
    width: 336px;
    margin-left: 108px;
    margin-top: 402px;
}